* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--white);
}

.navbar {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    gap: 50vw;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: var(--bluePrimary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-nav h1 {
    font-family: 'Chubgothic';
    color: var(--white);
    letter-spacing: 4px;
    margin-left: 10vw;
    font-size: 26px;
}

.logo-nav h1 span {
    color: var(--lightBlue);
    padding-bottom: 3px;
    border-bottom: 3.5px solid var(--yellow);
}

.menu-nav ul {
    display: flex;
    gap: 50px;
}

.menu-nav ul li {
    color: var(--white);
    font-size: 18px;
    font-family: 'Chubgothic';
    letter-spacing: 2px;
}


.profile-hoverable:hover div {
    display: flex;
    flex-direction: column;
    background-color: var(--bluePrimary);
}

.profile-hoverable div {
    display: none;
    position: fixed;
    height: 8vh;
    gap: 4vh;
    right: 6vw;
    width: 10vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    text-align: center;
}

.profile-hoverable div a {
    transition: 0.2s;
}

.profile-hoverable div a:hover {
    font-size: small;
    transition: 0.2s;
}


.notif-button {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    background-color: var(--white);
    border-radius: 100%;
    border: none;
}

.notif-button i {
    color: var(--bluePrimary);
    font-size: large;
}

.notif-popup {
    display: none;
    position: fixed;
    top: 15;
    right: 2vw;
    /* border: 3px solid #f1f1f1; */
    background-color: var(--white);
    width: 38vw;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.396));
}

.notif-popup div {
    background-color: var(--bluePrimary);
    width: 85%;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
}

.notif-popup button {
    background-color: var(--yellow);
    border-radius: 20px;
    border: none;
    width: 40%;
    height: 4vh;
}

.message {
    margin-top: 10px;
    font-size: 10px;
    text-align: justify;
}