.bods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 15% 0 15%;
}
.container-layanan{
    background-color: var(--bluePrimary);
}
.profil-container {
    width: 100%;
    background-color: var(--blueSecondary);
    border-radius: 20px;
    border: 4px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
}

.textcont {
    width: 18vw;
    height: 8vh;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: -4vh;
    margin-bottom: 5vh;
    border: 4px solid var(--border);
    font-family: 'Quicksand';
    font-weight: 700;
}

.infotab {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 5vh;
    align-items: center;
    padding: 10px;
}


.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 5vw;
}

.infolist {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    align-items: center;
    justify-content: stretch;
}

.infolist div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5vw;
    margin-right: 2vw;
    margin-bottom: 1vh;
}

.infolist .banner {
    font-size: 2.8vh;
    color: var(--yellow);
    text-align: left;
    font-family: 'Quicksand';
    font-weight: 500;
    margin-bottom: 2px;
}

.infolist div p:nth-child(2) {
    font-size: 3.4vh;
    font-weight: 700;
    font-family: 'Quicksand';
}

.servicetype {
    width: 70%;
    background-color: var(--blueSecondary);
    border-radius: 20px;
    border: 4px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
}

.typelist {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typelist div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.typelist div p {
    color: var(--yellow);
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 2vh;
}

.typelist div select,
input {
    border-radius: 30px;
    outline: 2px solid var(--border);
    border: 0;
    color: var(--border);
    font-family: 'Quicksand';
    background-color: var(--border);
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    text-align: center;
    width: 35vw;
    color: white;
}

.typelist div select,
input:focus {
    outline-offset: 5px;
    outline: 2px solid var(--yellow);
    background-color: #fff;
    color: black;
    font-family: 'Quicksand';
    font-weight: 800;
}

.typelist button {
    margin-top: 2vh;
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 30px;
    background-color: var(--yellow);
    font-family: 'Quicksand';
    font-size: 18px;
    transition: 0.5s;
    margin: 10px auto;
}
.apakek p{
    margin-bottom: 0px;
}
.typelist button:hover {
    width: 24vw;
    font-weight: 800;
    transition: 0.5s;
}

.history-container {
    width: 100%;
    background-color: var(--blueSecondary);
    border-radius: 20px;
    border: 4px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
    padding: 0 2vw 0 2vw;
}

.boxwrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-bottom: 4vh;
  }
  
  .centered {
    width: 20vw;
    height: 5vh;
    background-color: var(--yellow);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 5px;
  }

  .centered p {
    font-size: 2.5vh;
    font-weight: 500;
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    height: 16vh;
  }
  
  .element1 {
    width: 50%;
    height: 100%;
    background-color: var(--bluePrimary);
    border-right: 2px solid rgb(245, 245, 245);
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .element1 div {
    background-color: var(--border);
    color: white;
    width: 5.5vw;
    text-align: center;
    border-radius: 20px;
  }

  .element2 {
    flex: 1;
    height: 100%;
    width: 220px;
    background-color: var(--bluePrimary);
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    word-wrap: break-word;
  }

  .element2 div:nth-child(1) {
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .element2 p {
    font-weight: 600;
  }

  .element2 div:nth-child(2) {
    width: 100px;
    padding: 3px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--yellow);
    color: white;
    border-radius: 25px;
  }

  .quote{
    width: 750px;
    background-color: var(--blueSecondary);
    border: 4px solid var(--border);
    border-radius: 20px;
    margin: 80px 0px;
    padding: 25px 10px;
  }
  .title-quote{
    margin: -55px auto 0px auto;
    padding: 8px;
    background-color: var(--yellow);
    width: 300px;
    border-radius: 10px;
    border: 4px solid var(--border);
  }
  .title-quote h1{
    font-size: 26px;
    font-family: 'Quicksand';
    text-align: center;
  }
  .text-quote h1{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin: auto;
    width: 550px;
    font-size:18px;
    font-weight: 400;
    margin-top: 20px;
  }
